extends layout
block header
block content
  h2 Logowanie
    #login
        a(href='')
            p#open Formularz logowania
        form
            p
            label(for='username') Użytkownik:
            input#user(type='text', name='username')
            p
            label(for='password') Hasło:
            input#pass(type='password', name='password')
            p.button
            input#button2(type='submit', name='button', value='Loguj')