extends layout
block content
  script.
    $(document).ready(function(){
        $("#button1").click(function(){
            $("#login").load('login.pug');
            $("#button1").hide();
         });
      });
  #intro
    h1#greet #{greeting}
     