extends layout
block content
  script.
    $(document).ready(function(){
        $("#logButton").click(function(){
            $("#login").load('login.pug');
            $("#logButton").hide();
         });
      });
  #intro
    h1#greet #{greeting}
     