extends layout
block content
  script.
    $(document).ready(function(){
        $("#button1").click(function(){
            $("#login").load('login.pug');
            $("#button1").hide();
         });
      });
  #content.main
    #login
      input( id='button1' type='submit', value='Zaloguj')     