doctype html
html
  head
     style
      include style.css
  title Aplikacja
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  body
    block header
      header.header
        h1 #{name}
    //p=msg
    block content

