doctype html
html
  head
     style
      include style.css
  title Aplikacja
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  body
    block header
      header.header
        #divHeader
          .container#cssmenu
              ul#menuList
                li#start
                  a(href='') Start
                li#profil
                  a(href='') Mój Profil
                li#oautorce
                  a(href='') O autorce 
      #login
        input( id='button1' type='submit', value='Zaloguj')   
    block content
      

