extends layout
block header
block content
  script.
     $(document).ready(function(){
         $("#button2").click(function(e){
            //var userName = $('#user').val();
            //var userPassword = $('#pass').val();
            //alert("Witaj użytkowniku "+userName+"!");
            e.preventDefault();
         });//clickbutton
         $('#open').click(function(e){
              e.preventDefault();
              $('#login form').slideToggle(400);
              $(this).toggleClass('close');
            });//clickform
      });//ready
  #login
    a(href='form.pug')
      p#open Formularz logowania
    form
      p
        label(for='username') Użytkownik:
        input#username(type='text', name='username')
      p
        label(for='password') Hasło:
        input#password(type='text', name='password')
      p.button
        input#button2(type='submit', name='button', value='Loguj')
