extends layout
block header
block content
  script.
     $(document).ready(function(){
         $("#button2").click(function(e){
            var userName = $('#user').val();
            var userPassword = $('#pass').val();
            alert("Witaj użytkowniku "+userName+"!");
            e.preventDefault();
         });
      });
  h2 Logowanie
    form#content.main
     p  
     label(for='username') Login: 
     input(id='user',type='text', name='username')
     p
     label(for='password') Hasło:   
     input(id='pass', type="password", name='password')
     p.button
     input(id='button2' type='submit', value='Loguj')
