extends layout
block header
block content
  script.
     $(document).ready(function(){
         $('#open').click(function(e){
              e.preventDefault();
              $('#login form').slideToggle(400);
              $(this).toggleClass('close');
            });//clickform
         $("#logInButton").click(function(e){
            e.preventDefault();
              var userName = $('#user').val();
              var userPassword = $('#pass').val();
              $('#login form').slideToggle(400);
              location.replace('profile.pug');          
         });//clickbutton
      });//ready
  #login
    #formLogInDiv
      p#open Formularz logowania
    form#log
      p
        label(for='username') Użytkownik:
        input#user(type='text', name='username')
      p
        label(for='password') Hasło:
        input#pass(type='password', name='password')
      p.button
        input#logInButton(type='submit', name='button', value='Loguj')
  #profileDiv
